


<li><a href="https://twitter.com/cortex_silicon" target="_blank" class="clr-white underline">Twitter</a></li>
<li><a href="https://www.instagram.com/les_nade/" target="_blank" class="clr-white underline">Instagram</a></li>
<li><a href="https://www.youtube.com/channel/UC2fdce8RrKpY5Nfl8W3qq0Q" target="_blank" class="clr-white underline">Youtube</a></li>
<li><a href="https://www.twitch.tv/siliconcortex" target="_blank" class="clr-white underline">Twitch</a></li>
<li><a href="https://github.com/siliconcortex" target="_blank" class="clr-white underline">GitHub</a></li>
