<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Social
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item disabled" href="">Facebook</a>
              <a class="dropdown-item" href="https://twitter.com/cortex_silicon">Twitter</a>
              <a class="dropdown-item" href="https://www.instagram.com/les_nade/">Instagram</a>
              <a class="dropdown-item" href="https://www.youtube.com/channel/UC2fdce8RrKpY5Nfl8W3qq0Q">Youtube</a>
              <a class="dropdown-item" href="https://www.twitch.tv/siliconcortex">Twitch</a>
              <a class="dropdown-item" href="https://github.com/siliconcortex">Github</a>
        </div>
</li>
