<main class="content"><div itemscope itemtype="http://schema.org/SoftwareApplication"><h1 itemprop="name">simplewall</h1>				<div>Version: <span itemprop="softwareVersion">3.2.3</span></div>
				<div>Author: <span itemprop="author">Henry++</span></div>
				<div>First release: <time itemprop="dateModified" datetime="Tue, 26 Jul 2016 06:00:00 +0600" title="Tue, 26 Jul 2016 06:00:00 +0600">26 July 2016</time></div>
				<div>Last updated: <time itemprop="dateModified" datetime="Tue, 25 Aug 2020 19:56:40 +0600" title="Tue, 25 Aug 2020 19:56:40 +0600">25 August 2020</time></div>
				<div>License: <span itemprop="license">GPL v3</span></div>
				<div>Language: <span>C/C++</span></div>
				<div>Supported OS: <span itemprop="operatingSystem">7, 8, 8.1, 10</span></div>
				<div>Platform architecture: <span itemprop="operatingSystem">32-bit/64-bit</span></div>

				<hr />

				<h2 id="donate">Donation</h2>

				<p>Development is powered by your donations!</p>

				<div>
					<div class="donate" title="Yandex Money"><a href="https://money.yandex.ru/to/4100115776040583" rel="nofollow">Yandex<span>ALL</span></a></div>
					<div class="donate" title="Paypal"><a href="https://paypal.me/henrypp" rel="nofollow">Paypal <span>USD</span></a></div>
					<div class="donate" title="Bitcoin"><a href="https://blockchain.info/address/1LrRTXPsvHcQWCNZotA9RcwjsGcRghG96c" rel="nofollow">Bitcoin <span>BTC</span></a></div>
					<div class="donate" title="IBAN"><a href="javascript:alert('IBAN: KZ706010012004847494');" rel="nofollow">IBAN <span>ALL</span></a></div>
				</div>

				<hr />

				<div class="preview">
					<img itemprop="screenshot" src="https://www.henrypp.org/images/simplewall.png" />
				</div>

				<h2 id="description">Description</h2>

				<p itemprop="about" hidden>Simple tool to configure Windows Filtering Platform (WFP) which can configure network activity on your computer.</p>
<p>Simple tool to configure Windows Filtering Platform (WFP) which can configure network activity on your computer.</p>

<p>The lightweight application is less than a megabyte, and it is compatible with Windows Vista and higher operating systems.
You can download either the installer or portable version. For correct working, need administrator rights.</p>

<h2>Features</h2>
<ul>
<li>Simple interface without annoying pop ups</li>
<li>Rules editor (create your own rules)</li>
<li>Internal blocklist rules (block Windows spy / telemetry)</li>
<li>Dropped packets information with notification and logging to a file feature (win7+)</li>
<li>Allowed packets information with logging to a file feature (win8+)</li>
<li>Windows Subsystem for Linux (WSL) support (win10)</li>
<li>Windows Store support (win8+)</li>
<li>Windows services support</li>
<li>Free and open source</li>
<li>Localization support</li>
<li>IPv6 support</li>
</ul>
<p>You can download either the installer or portable version. For correct working, need administrator rights.</p>				<h2>Portable mode</h2>
				<p>To activate portable mode, create <mark>simplewall.ini</mark> in application folder, or move it from <mark>%APPDATA%\Henry++\simplewall</mark>.</p>
				<h2 id="gpg">GPG Signature</h2>
				<p>Binaries have GPG signature <mark>simplewall.sig</mark> in application folder.</p>

				<ul>
					<li>Public key: <a href="https://raw.githubusercontent.com/henrypp/builder/master/pubkey.asc" download>pubkey.asc</a> (<a href="http://ha.pool.sks-keyservers.net/pks/lookup?op=vindex&amp;fingerprint=on&amp;search=0x5635b5fd" download>ha.pool.sks-keyservers.net</a>)</li>
					<li>Key ID: <mark>0x5635B5FD</mark></li>
					<li>Fingerprint: <mark>D985 2361 1524 AB29 BE73  30AC 2881 20A7 5635 B5FD</mark></li>
				</ul>

				<h2 id="download">Download</h2>
				<ul>
					<li><a itemprop="downloadUrl" href="https://github.com/henrypp/simplewall/releases/download/v.3.2.3/simplewall-3.2.3-bin.zip">simplewall-3.2.3-bin.zip</a></li>
					<li><a itemprop="downloadUrl" href="https://github.com/henrypp/simplewall/releases/download/v.3.2.3/simplewall-3.2.3-setup.exe">simplewall-3.2.3-setup.exe</a></li>
					<li><a itemprop="downloadUrl" href="https://github.com/henrypp/simplewall/releases/download/v.3.2.3/simplewall-3.2.3-setup.exe.sig">simplewall-3.2.3-setup.exe.sig</a></li>
					<li><a itemprop="downloadUrl" href="https://github.com/henrypp/simplewall/releases/download/v.3.2.3/simplewall-3.2.3.sha256">simplewall-3.2.3.sha256</a></li>
				</ul>

				<p><a itemprop="downloadUrl" href="https://github.com/henrypp/simplewall/releases/latest">Latest stable release is always here</a></p>
					<h2 id="i18n">Languages</h2>
					<p>Put <mark>simplewall.lng</mark> file into application directory and restart the program.</p>
					<ul>
						<li><a href="https://github.com/henrypp/simplewall/raw/master/bin/simplewall.lng" download="simplewall.lng">Download language</a></li>
						<li><a href="https://github.com/henrypp/simplewall/raw/master/bin/i18n/!example.txt">Read instruction to create your own localization</a></li>
					</ul>
				<h2>Links</h2>
				<ul>
					<li><a itemprop="sameAs" href="https://github.com/henrypp/simplewall" class="underline">GitHub</a></li>
					<li><a itemprop="releaseNotes" href="https://github.com/henrypp/simplewall/blob/master/CHANGELOG.md" class="underline">Changelog</a></li>
					<li><a itemprop="license" href="https://github.com/henrypp/simplewall/blob/master/LICENSE" class="underline">License agreement</a></li>
				</ul>

				<h2>Support</h2>
				<ul>
					<li><a href="https://github.com/henrypp/simplewall/wiki" class="underline">Wiki (Documentation)</a></li>
					<li><a href="https://github.com/henrypp/simplewall/issues" class="underline">Report issue</a></li>
					<li><a href="https://github.com/henrypp/simplewall/pulls" class="underline">Pull requests</a></li>
				</ul>
</div>			</main>
