{% extends 'base.html' %}
{% block content %}

<h1 class = "display-4">{{post.title}}</h1>
<hr class="my-1">
<!-- since thumbnails are optional, check if there are no thumbnails -->
{% if post.thumbnail %}
  <div class="preview">
    <img itemprop="screenshot" src="{{post.thumbnail.url}}" />
  </div>
{% endif %}

<hr>
<!-- the ( |safe ) parameter allows the text area to be inserted with HTML tags -->
{% if post.content_1 %}
  {{post.content_1 | safe}}
{% endif %}

{% if post.inline_1 %}
<div class="preview">
  <img itemprop="screenshot" src="{{post.inline_1.url}}" />
</div>
{% endif %}

{% if post.content_2 %}
  {{post.content_2 | safe}}
{% endif %}

{% if post.inline_2 %}
<div class="preview">
  <img itemprop="screenshot" src="{{post.inline_2.url}}" />
</div>
{% endif %}

{% if post.content_3 %}
  {{post.content_3 | safe}}
{% endif %}

{% if post.inline_3 %}
<div class="preview">
  <img itemprop="screenshot" src="{{post.inline_3.url}}" />
</div>
{% endif %}


{% if post.content_4 %}
<div class="container">
  {{post.content_4 | safe}}
</div>
{% endif %}

{% if post.inline_4 %}
<div class="preview">
  <img itemprop="screenshot" src="{{post.inline_4.url}}" />
</div>
{% endif %}

{% if post.content_5 %}
  {{post.content_5 | safe}}
{% endif %}

{% if post.inline_5 %}
<div class="preview">
  <img itemprop="screenshot" src="{{post.inline_5.url}}" />
</div>
{% endif %}
{% endblock %}
