<!DOCTYPE html>
{% load  static %}
<html lang="en">
	<head>
		<title>Leslie Caminade</title>

		<meta charset="utf-8" />
		<meta name="description" content="All about Leslie Caminade" />
		<meta name="keywords" content="leslie, caminade, engineer, electronics, ece, ee, review, center, certc, cjc, music, teaching, tutorial" />
		<meta name="author" content="Leslie Caminade" />

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="color-scheme" content="dark light">

    <link rel="stylesheet" href="{%static 'normalize.css'%}" />
    <link rel="stylesheet" href="{%static 'style.css'%}" title="Default" />
	</head>

	<body>
		<div class="container">
			<header class="header">
				<div class="head-title">
					<h1><a href="http://lesliecaminade.pythonanywhere.com/">Leslie Caminade</a></h1>
					<p>News</p>
				</div>

				<div class="head-nav">
					<a href="#" id="nav"></a>
				</div>
			</header>

			<aside class="lside" id="lside">
				<div class="block">
					<div class="title">Navigation</div>

					<ul>
						<li><a href="{% url 'post_list' %}">News</a></li>
						<li><a href="#">Projects</a></li>
            <li><a href="#">Contacts</a></li>
						<li><a href="https://www.henrypp.org/donate">Donate</a></li>
						<li><a href="https://www.henrypp.org/about">About me</a></li>
					</ul>
				</div>

				<div class="block">
					<div class="title">Projects</div>
					<ul>
            <li><a class="dropdown-item" href="{% url 'page_detail' pk=page.pk %}">{{page.title}}</a></li>
          </ul>
				</div>

				<div class="block">
					<div class="title">Contacts</div>

					<ul>
						{%include 'main_app/handles.html'%}
					</ul>

				</div>

				<div class="block">
					<div class="title">Donation</div>

					<ul>
						<li><a href="https://www.patreon.com/lesliecaminade" target="_blank" rel="nofollow" title="Content creation is powered by your donations!">Patreon</a></li>
					</ul>
				</div>
			</aside>

			<div class="space"></div>

			<main class="content">
				{%block content%}
				{% endblock %}
			</main>

			<footer class="footer">
				<p>(c) 2009-2020 Leslie Caminade. All rights reversed.</p>
			</footer>
		</div>

		<script type="text/javascript">
			document.getElementById('nav').addEventListener("click", function(e) {
				(function(e) {
					document.getElementById('lside').classList.toggle("lside-show"); return false;
				}).call(document.getElementById('nav'), e);
			});
		</script>
	</body>
</html>

<!-- old-school in my blood, 2011 comming back (15/10/15) -->
<!-- upd: (26/07/17) -->
